$pr:#323232; //primary
$prDrk:#0B0E12;
$prLgt:#858688;
$ace: #20A4B8; //accent
$aceDrk: #128596;
$aceLgt: #54CCDF;
$sd:  #234094; //secondary
$sdDrk:  #132d79;
$sdLgt:  #3F5FBB;
$blu:  #3498DB; //blue
$bluDrk:  #2E88C5;
$bluLgt:  #48A2DE;
$gre:  #7ECF42; //grey
$greDrk:  #71BA3B;
$greLgt:  #8AD354;
$yw:  #F1C40F; //yellow
$ywDrk:  #D8B00D;
$ywLgt:  #F3CF3E;
$rd:  #E74C3C; //red
$rdDrk:  #CF4436;
$org:  #EB6E19; //orange
$pk:  #BF4B94; //pink
$vio: #9B59B6
